In [1]:
import pandas as pd

In [2]:
stations = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/Stations.csv')

In [65]:
stations['Stop Name'] = stations['Stop Name'].str.lower()
stations['Daytime Routes'] = stations['Daytime Routes'].str.replace(' ','')

In [66]:
stations.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,1,1,R01,BMT,Astoria,astoria - ditmars blvd,Q,NW,Elevated,40.775036,-73.912034
1,2,2,R03,BMT,Astoria,astoria blvd,Q,NW,Elevated,40.770258,-73.917843
2,3,3,R04,BMT,Astoria,30 av,Q,NW,Elevated,40.766779,-73.921479
3,4,4,R05,BMT,Astoria,broadway,Q,NW,Elevated,40.761820,-73.925508
4,5,5,R06,BMT,Astoria,36 av,Q,NW,Elevated,40.756804,-73.929575

In [42]:
tstat = pd.read_pickle('/home/michael/Documents/Projects/Metis/01-Benson/distinctstationline.pkl')

In [63]:
tstat['stationlink'] = tstat['station'].str.lower()
tstat['stationlink'] = tstat['stationlink'].str.replace('.','')

In [64]:
tstat.head()

                station  linename division      stationlink
69473            155 ST        BD      IND           155 st
45300             96 ST        BC      IND            96 st
28888              8 AV      ACEL      BMT             8 av
192935       ST. GEORGE         1      SRT        st george
94819   34 ST-HERALD SQ  BDFMNQRW      IND  34 st-herald sq

In [68]:
merged = pd.merge(tstat,stations,how='left',left_on=['stationlink','linename'],right_on=['Stop Name','Daytime Routes'])

In [70]:
missing = merged.drop_na()

AttributeError: 'DataFrame' object has no attribute 'drop_na'

In [22]:
tstat[tstat['station']=='155 ST']

      station linename division
69473  155 ST       BD      IND
42923  155 ST        C      IND

In [29]:
stations[stations['Stop Name']=='155 St']

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
148,150,150,A11,IND,8th Av - Fulton St,155 St,M,C,Subway,40.830518,-73.941514
218,220,220,D12,IND,Concourse,155 St,M,B D,Subway,40.830135,-73.938209

In [62]:
set(stations['Stop Name'])

{'1 av',
 '103 st',
 '103 st - corona plaza',
 '104 st',
 '110 st',
 '111 st',
 '116 st',
 '116 st - columbia university',
 '121 st',
 '125 st',
 '135 st',
 '137 st - city college',
 '138 st - grand concourse',
 '14 st',
 '14 st - union sq',
 '145 st',
 '149 st - grand concourse',
 '15 st - prospect park',
 '155 st',
 '157 st',
 '161 st - yankee stadium',
 '163 st - amsterdam av',
 '167 st',
 '168 st',
 '168 st - washington hts',
 '169 st',
 '170 st',
 '174 st',
 '174-175 sts',
 '175 st',
 '176 st',
 '18 av',
 '18 st',
 '181 st',
 '182-183 sts',
 '183 st',
 '190 st',
 '191 st',
 '2 av',
 '20 av',
 '207 st',
 '21 st',
 '21 st - queensbridge',
 '215 st',
 '219 st',
 '225 st',
 '23 st',
 '231 st',
 '233 st',
 '238 st',
 '25 av',
 '25 st',
 '28 st',
 '3 av',
 '3 av - 138 st',
 '3 av - 149 st',
 '30 av',
 '33 st',
 '34 st - 11 av',
 '34 st - herald sq',
 '34 st - penn station',
 '36 av',
 '36 st',
 '39 av',
 '4 av',
 '40 st',
 '42 st - bryant pk',
 '42 st - port authority bus terminal',
 '45 st',
 '46 st',
 '47-50 sts - rockefeller ctr',
 '49 st',
 '5 av',
 '5 av/53 st',
 '5 av/59 st',
 '50 st',
 '51 st',
 '52 st',
 '53 st',
 '55 st',
 '57 st',
 '57 st - 7 av',
 '59 st',
 '59 st - columbus circle',
 '6 av',
 '62 st',
 '63 dr - rego park',
 '65 st',
 '66 st - lincoln center',
 '67 av',
 '68 st - hunter college',
 '69 st',
 '7 av',
 '71 st',
 '72 st',
 '74 st - broadway',
 '75 av',
 '75 st',
 '77 st',
 '79 st',
 '8 av',
 '8 st - nyu',
 '80 st',
 '81 st - museum of natural history',
 '82 st - jackson hts',
 '85 st - forest pkwy',
 '86 st',
 '88 st',
 '9 av',
 '9 st',
 '90 st - elmhurst av',
 '96 st',
 'alabama av',
 'allerton av',
 'annadale',
 'aqueduct - n conduit av',
 'aqueduct racetrack',
 'arthur kill',
 'astor pl',
 'astoria - ditmars blvd',
 'astoria blvd',
 'atlantic av',
 'atlantic av - barclays ctr',
 'avenue h',
 'avenue i',
 'avenue j',
 'avenue m',
 'avenue n',
 'avenue p',
 'avenue u',
 'avenue x',
 'bay 50 st',
 'bay pkwy',
 'bay ridge - 95 st',
 'bay ridge av',
 'bay terrace',
 'baychester av',
 'beach 105 st',
 'beach 25 st',
 'beach 36 st',
 'beach 44 st',
 'beach 60 st',
 'beach 67 st',
 'beach 90 st',
 'beach 98 st',
 'bedford - nostrand avs',
 'bedford av',
 'bedford park blvd',
 'bedford park blvd - lehman college',
 'bergen st',
 'beverley rd',
 'beverly rd',
 'bleecker st',
 'borough hall',
 'botanic garden',
 'bowery',
 'bowling green',
 'briarwood - van wyck blvd',
 'brighton beach',
 'broad channel',
 'broad st',
 'broadway',
 'broadway jct',
 'broadway-lafayette st',
 'bronx park east',
 'brook av',
 'brooklyn bridge - city hall',
 'buhre av',
 'burke av',
 'burnside av',
 'bushwick av - aberdeen st',
 'canal st',
 'canarsie - rockaway pkwy',
 'carroll st',
 'castle hill av',
 'cathedral pkwy',
 'cathedral pkwy (110 st)',
 'central av',
 'central park north (110 st)',
 'chambers st',
 'chauncey st',
 'christopher st - sheridan sq',
 'church av',
 'city hall',
 'clark st',
 'classon av',
 'cleveland st',
 'clifton',
 'clinton - washington avs',
 'coney island - stillwell av',
 'cortelyou rd',
 'cortlandt st',
 'court sq',
 'court st',
 'crescent st',
 'crown hts - utica av',
 'cypress av',
 'cypress hills',
 'dekalb av',
 'delancey st',
 'ditmas av',
 'dongan hills',
 'dyckman st',
 'e 105 st',
 "e 143 st - st mary's st",
 'e 149 st',
 'e 180 st',
 'east broadway',
 'eastchester - dyre av',
 'eastern pkwy - brooklyn museum',
 'elder av',
 'elmhurst av',
 'eltingville',
 'essex st',
 'euclid av',
 'far rockaway - mott av',
 'flatbush av - brooklyn college',
 'flushing - main st',
 'flushing av',
 'fordham rd',
 'forest av',
 'forest hills - 71 av',
 'fort hamilton pkwy',
 'franklin av',
 'franklin st',
 'freeman st',
 'fresh pond rd',
 'fulton st',
 'gates av',
 'graham av',
 'grand army plaza',
 'grand av - newtown',
 'grand central - 42 st',
 'grand st',
 'grant av',
 'grant city',
 'grasmere',
 'great kills',
 'greenpoint av',
 'gun hill rd',
 'halsey st',
 'harlem - 148 st',
 'hewes st',
 'high st',
 'houston st',
 'howard beach - jfk airport',
 'hoyt - schermerhorn sts',
 'hoyt st',
 'huguenot',
 'hunters point av',
 'hunts point av',
 'intervale av',
 'inwood - 207 st',
 'jackson av',
 'jackson hts - roosevelt av',
 'jamaica - 179 st',
 'jamaica - van wyck',
 'jamaica center - parsons/archer',
 'jay st - metrotech',
 'jefferson av',
 'jefferson st',
 'junction blvd',
 'junius st',
 'kew gardens - union tpke',
 'kings hwy',
 'kingsbridge rd',
 'kingston - throop avs',
 'kingston av',
 'knickerbocker av',
 'kosciuszko st',
 'lafayette av',
 'lexington av/53 st',
 'lexington av/59 st',
 'lexington av/63 st',
 'liberty av',
 'livonia av',
 'longwood av',
 'lorimer st',
 'marble hill - 225 st',
 'marcy av',
 'metropolitan av',
 'mets - willets point',
 'middle village - metropolitan av',
 'middletown rd',
 'montrose av',
 'morgan av',
 'morris park',
 'morrison av- sound view',
 'mosholu pkwy',
 'mt eden av',
 'myrtle - willoughby avs',
 'myrtle - wyckoff avs',
 'myrtle av',
 'nassau av',
 'neck rd',
 'neptune av',
 'nereid av',
 'nevins st',
 'new dorp',
 'new lots av',
 'new utrecht av',
 'newkirk av',
 'newkirk plaza',
 'northern blvd',
 'norwood - 205 st',
 'norwood av',
 'nostrand av',
 'oakwood heights',
 'ocean pkwy',
 'old town',
 'ozone park - lefferts blvd',
 'park pl',
 'parkchester',
 'parkside av',
 'parsons blvd',
 'pelham bay park',
 'pelham pkwy',
 'pennsylvania av',
 'pleasant plains',
 'president st',
 'prince st',
 "prince's bay",
 'prospect av',
 'prospect park',
 'queens plaza',
 'queensboro plaza',
 'ralph av',
 'rector st',
 'richmond valley',
 'rockaway av',
 'rockaway blvd',
 'rockaway park - beach 116 st',
 'roosevelt island',
 'saratoga av',
 'seneca av',
 'sheepshead bay',
 'shepherd av',
 'simpson st',
 'smith - 9 sts',
 'south ferry',
 'spring st',
 'st george',
 'st lawrence av',
 'stapleton',
 'steinway st',
 'sterling st',
 'sutphin blvd',
 'sutphin blvd - archer av - jfk airport',
 'sutter av',
 'sutter av - rutland rd',
 'times sq - 42 st',
 'tompkinsville',
 'tottenville',
 'tremont av',
 'union sq - 14 st',
 'union st',
 'utica av',
 'van cortlandt park - 242 st',
 'van siclen av',
 'vernon blvd - jackson av',
 'w 4 st',
 'w 8 st - ny aquarium',
 'wakefield - 241 st',
 'wall st',
 'west farms sq - e tremont av',
 'westchester sq - e tremont av',
 'whitehall st',
 'whitlock av',
 'wilson av',
 'winthrop st',
 'woodhaven blvd',
 'woodlawn',
 'woodside - 61 st',
 'world trade center',
 'york st',
 'zerega av'}